@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


.scrollable-container {
  overflow-y: scroll; /* Ensures scrolling is enabled */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* For WebKit browsers (Chrome, Safari, Opera) */
.scrollable-container::-webkit-scrollbar {
  display: none;
}

body {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property for newer Firefox versions */
}

.logo {
  width: 120px;
  font-family: cursive;
  font-weight: bold;
  font-size: 24px;
  color: teal;
  text-wrap-mode: nowrap;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }

::-webkit-scrollbar{
  display: none;
}
